{% extends 'base.html.twig' %}

{% block title %}Layoffs{% endblock %}
        {% block stylesheets %}

            <style>

                .card {
                    margin: 0 auto; /* Added */
                    float: none; /* Added */
                    margin-bottom: 10px; /* Added */
                    width: fit-content;
                }

                .card-img-top {
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 10px;
                }

                .social a {
                    padding-right: 15px;
                }

                .cards {
                    padding-top: 20px;
                }

                .header {
                    font-family: 'Baloo Paaji 2', cursive;
                    font-size: 45px;
                }

                .subheader {
                    font-family: 'Baloo Paaji 2', cursive;
                    font-size: 25px;
                }

            </style>

        {% endblock %}

{% block body %}
    <span style="  display: none; visibility: hidden;" class="js-user-auth"
          data-is-authenticated="{{ loggedIn ? 'true' : 'false' }}"></span>
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="text-center">
                <span class="header">Hire Talents affected by recent layoffs</span><br>
                <span class="subheader">(website still under construction and not for commercial use)</span><br>
            </div>
        </div>
    </div>
    <hr>


    <div class="row">


        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

            {% if feeds %}
                <div class="cards">
                    {% for feed in feeds %}

                        {% if feed.isPublic == 1 %}


                            <div class="card w-100 col-lg-9 col-md-9 col-sm-12 col-xs-12">

                                {% if feed.picture %}
                                    <img src="{{ asset('uploads/pictures/' ~ feed.picture) }}"
                                         class="card-img-top rounded-circle"
                                         alt="{{ feed.name }}">

                                {% else %}
                                    <img src="{{ asset('uploads/default/user.png') }}"
                                         class="card-img-top rounded-circle"
                                         alt="{{ feed.name }}">
                                {% endif %}

                                <div class="card-body">
                                    <h5 class="card-title">{{ feed.name }}</h5>

                                    <p>{{ feed.profession }}  {{ feed.city ? ' - ' ~ feed.city : '' }}</p>

                                    <p class="card-text">{{ feed.about }}

                                    </p>
                                </div>

                                <div class="card-body social">

                                    {% if feed.linkedin %}

                                        <a href="tel:{{ loggedIn ? feed.linkedin : '#' }}"
                                           target="{{ loggedIn ? '_blank' : '' }}"
                                           data-toggle="{{ loggedIn ? '' : 'modal' }}"
                                           data-target="{{ loggedIn ? '' : '#myModal' }}" class="fa fa-linkedin"></a>

                                    {% endif %}

                                    {% if feed.xing %}

                                        <a href="tel:{{ loggedIn ? feed.xing : '#' }}"
                                           target="{{ loggedIn ? '_blank' : '' }}"
                                           data-toggle="{{ loggedIn ? '' : 'modal' }}"
                                           data-target="{{ loggedIn ? '' : '#myModal' }}" class="fa fa-xing"></a>

                                    {% endif %}

                                    {% if feed.phone %}

                                        <a href="tel:{{ loggedIn ? feed.phone : '#' }}"
                                           target="{{ loggedIn ? '_blank' : '' }}"
                                           data-toggle="{{ loggedIn ? '' : 'modal' }}"
                                           data-target="{{ loggedIn ? '' : '#myModal' }}" class="fa fa-phone"></a>

                                    {% endif %}

                                    {% if feed.portfolio %}

                                        <a href="{{ loggedIn ? feed.portfolio : '#' }}"
                                           target="{{ loggedIn ? '_blank' : '' }}"
                                           data-toggle="{{ loggedIn ? '' : 'modal' }}"
                                           data-target="{{ loggedIn ? '' : '#myModal' }}" class="fa fa-globe"></a>

                                    {% endif %}

                                    {% if loggedIn %}

                                        <button onclick=" window.open('mailto:{{ feed.email }}', '_blank');
                                                " class="btn btn-primary pull-right btn-sm RbtnMargin" type="button">
                                            Contact
                                        </button>
                                    {% else %}
                                        <button data-toggle="modal" data-target="#myModal"
                                                class="btn btn-primary pull-right btn-sm RbtnMargin" type="button">
                                            Contact
                                        </button>
                                    {% endif %}
                                </div>

                            </div>

                            <hr />

                        {% endif %}


                    {% endfor %}

                </div>

            {% else %}
                <p>No Feed to display</p>
            {% endif %}
        </div>

        <div class="col">
            <div class="card bg-light">

                <div class="card-body">
                    <h5 class="card-title font-weight-bold"><b>were you affected by the recent layoffs ?</b></h5>
                    <p class="card-text">Add your profile so that we can connect you to new job opportunities.</p>
                    {% if loggedIn %}

                        <a href="{{ path('user_profile') }}" class="btn btn-primary">Submit your profile</a>

                    {% else %}

                        <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Submit your
                            profile</a>

                    {% endif %}

                </div>
            </div>
        </div>

    </div>
    
{% endblock %}



 {% block javascripts %}


     <script>


         function onSuccess(googleUser) {
             const access_token = googleUser.getAuthResponse().id_token;
             var userAuthenticated = document.querySelector('.js-user-auth');
             var isAuthenticated = userAuthenticated.dataset.isAuthenticated;

             if (isAuthenticated === 'false') {

                 $.post('{{ path('user_login') }}',

                     {token: access_token},

                     function (response) {

                         location.reload();
                         return false;

                     }, "json");
             }

         }

         function onFailure(error) {
             console.log(error);
         }

         function renderButton() {
             gapi.signin2.render('my-signin2', {
                 'scope': 'profile email',
                 'width': 240,
                 'height': 50,
                 'longtitle': true,
                 'theme': 'dark',
                 'onsuccess': onSuccess,
                 'onfailure': onFailure
             });
         }

         function signOut() {
             var auth2 = gapi.auth2.getAuthInstance();
             auth2.signOut().then(function () {
                 console.log('User signed out.');
             });
         }

     </script>
     <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>


 {% endblock %}
