{% extends 'base.html.twig' %}

{% block title %}Feed layoffs{% endblock %}
        {% block stylesheets %}

            <style>

                .card {
                    margin: 0 auto; /* Added */
                    float: none; /* Added */
                    margin-bottom: 10px; /* Added */
                    width: fit-content;
                }

                .card-img-top {
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 10px;
                }

                .social a {
                    padding-right: 15px;
                }

                .cards {
                    padding-top: 20px;
                }

                .header {
                    font-family: 'Baloo Paaji 2', cursive;
                    font-size: 45px;
                }

                .subheader {
                    font-family: 'Baloo Paaji 2', cursive;
                    font-size: 25px;
                }


            </style>

        {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 mx-auto">
            <div class="text-center">
                <span class="header">Hire Talents affected by recent layoffs</span><br>
                <span class="subheader">(Only Germany at the moment)</span>
            </div>
        </div>
    </div>
    <hr>

    {% if feeds %}
        <div class="cards">
            {% for feed in feeds %}

                <div class="card col-lg-6 col-md-6 col-sm-12 col-xs-12">

                    {% if feed.picture %}
                        <img src="{{ asset('uploads/pictures/' ~ feed.picture) }}" class="card-img-top rounded-circle"
                             alt="{{ feed.name }}">

                    {% else %}
                        <img src="{{ asset('uploads/default/user.png') }}" class="card-img-top rounded-circle"
                             alt="{{ feed.name }}">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ feed.name }}</h5>
                        <p class="card-text">{{ feed.about }}</p>
                    </div>

                    <div class="card-body social">

                        {% if feed.linkedin %}
                            <a href="{{ feed.linkedin }}" target="_blank" class="fa fa-linkedin"></a>
                        {% endif %}

                        {% if feed.xing %}
                            <a href="{{ feed.xing }}" target="_blank" class="fa fa-xing"></a>
                        {% endif %}

                        {% if feed.phone %}
                            <a href="tel:{{ feed.phone }}" target="_blank" class="fa fa-phone"></a>
                        {% endif %}

                        {% if feed.portfolio %}
                            <a href="{{ feed.portfolio }}" target="_blank" class="fa fa-globe"></a>
                        {% endif %}


                        <button onclick=" window.open('mailto:{{ feed.email }}', '_blank');
                                " class="btn btn-primary pull-right btn-sm RbtnMargin" type="button">Contact
                        </button>
                    </div>

                </div>
            {% endfor %}

        </div>




    {% else %}
        <p>No Feed to display</p>
    {% endif %}
{% endblock %}



 {% block javascripts %}


     <script>
         function onSuccess(googleUser) {
             const access_token = googleUser.getAuthResponse().id_token;

             $.post('{{ path('user_login') }}',
                 {token: access_token},
                 function (response) {

                     console.log(response);

                 }, "json");

         }

         function onFailure(error) {
             console.log(error);
         }

         function renderButton() {
             gapi.signin2.render('my-signin2', {
                 'scope': 'profile email',
                 'width': 240,
                 'height': 50,
                 'longtitle': true,
                 'theme': 'dark',
                 'onsuccess': onSuccess,
                 'onfailure': onFailure
             });
         }

         function signOut() {
             var auth2 = gapi.auth2.getAuthInstance();
             auth2.signOut().then(function() {
                 console.log('User signed out.');
             });
         }
     </script>
     <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>


 {% endblock %}
